@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隱藏滾動條但保留功能 (Chrome/Safari/Webkit) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}